.navbar-item,
.navbar-menu,
.navbar-burger,
.navbar-brand,
.topnav,
.body {
  background-color: #cf102d;
  color: #ffcd23;
}

.span,
.navbar-item {
  color: #ffcd23;
}

.column {
    background-color: #cf102d;
}

