.navbar-item,
.navbar-menu,
.navbar-burger,
.navbar-brand,
.topnav {
  background-color: #cf102d;
  color: #ffcd23;
}

.body {
  background-color: black;
}

.span,
.navbar-item {
  color: #ffcd23;
}

#column1,
#column2 {
  background-color: #ffffff;
}

#column1 {
  margin-left: 150px;
  margin-right: 0.5px;


}

#column2 {
  margin-right: 150px;
  margin-left: 0.5px;
}

.column {
  margin-top: 50px;
}

html, body {
    height: 100%;
}